body {
  margin: 0px;
  min-height: 100vh;
}

body > div {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}